/* =============
    Section 1
============= */


#section-1{

        #WHOLE-THING{
            height: 400px;
            width: 400px;
            margin: 200px 0 0 800px

        }

}




// #section-1{

//         .Logo{
//             height: 400px;
//             width: 400px;
//             margin: 200px 0 0 800px

//         }

//         #logotext{
//             opacity: 0;
//         }

//         #tagline{
//             opacity: 0;
//         }

// }
